<div *ngIf="(fa.user | async) as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

  <mat-card class="mat-card">
    <mat-card-title>Please login.</mat-card-title>
    <mat-card-content>
      <div class="mat-card-content">
        <button mat-raised-button class="button" (click)="login()">
          <img src="../../assets/images/fb_logo.webp" id="facebook-icon" />Login
          with Facebook
        </button>
      </div>
    </mat-card-content></mat-card
  >
</ng-template>
